@import "tailwindcss";


/* Light mode
Primary: Black (#0B0B0B)
Background: White (#FFFFFF)
Surface: Light Gray (#F5F5F5)
Border: Soft Gray (#E5E5E5)
Text Primary: #111111
Text Secondary: #666666 */


/* Dark mode
Background: #0B0B0B
Text: #FFFFFF
Surface: #1A1A1A
Border: #333333 */

:root {
--primary:  #0B0B0B; /* Black*/
--background: #FFFFFF; /* White */
--surface: #F5F5F5; /* Light Gray */
--borders:  #E5E5E5; /* Soft Gray*/
--textPrimary: #242424; 
--textSecondary: #666666; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: 'Geist Variable', sans-serif;
}


